.idea/
**/node_modules/
./gQuezada/practica2/lib/
RubensTen/practica_2/node_modules
RubensTen/practica_1/node_modules
RubensTen/practica_2/lib
**/yarn.lock
chrigarc/ejercicios_jest/factorial/node_modules/
chrigarc/ejercicios_jest/factorial/package-lock.json
