.first {
    background-color: #f1f1f1;
    padding: 10px 5px 15px 20px;
}

.ocultar {
    display: none;
    overflow: hidden;
    background-color: #f15359;
}

.centrar {
    display: none;
    overflow: hidden;
    background-color: #f15359;
    top: 50%;
    left: 50%;
    width: 400px;
    position: absolute;
    margin-left: -200px;
    margin-top: -150px;
    border: 1px solid #808080;
    padding: 5px;
    z-index: 2;
}

.opcion {
    padding: 10px 5px 15px 20px;
    z-index: 3;
}

.headerDiv {
    padding: 10px 5px 15px 20px;
    border-style: solid;
    z-index: 3;
}

.bodyDiv {
    padding: 10px 5px 15px 20px;
    border-style: solid;
    z-index: 3;
}

.footerDiv {
    padding: 10px 5px 15px 20px;
    border-style: solid;
}

.tootip {
    position: relative;
    border-bottom: 1px dotted black;
}

.tooltipText {
    visibility: hidden;
}

.todo {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}